  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div{
    padding: 10px;
    float: none;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px lightskyblue;
    font-size: 20px;
  }

  .result_para_tag span{
    white-space: pre-line;
  }

  .copy_right_footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: palevioletred;
    line-height: 3;
    font-size: 20px;
    color: darkslateblue;
  }

  canvas{
    border: 7px dashed  darkblue;
    box-shadow: 7px 7px 7px darkorchid;
    margin-top: 100px;
  }